/*///////////////////////////////////////////body/////////////////////////////////////////////////*/
* {
    margin: 0;
}  input[type="text"]
{
    color: blue;
}
html, body {
    height: 100%;
}
/*///////////////////////////////////////////header/////////////////////////////////////////////////*/
span{
}
.Logos
{
	width: 50px;
}
.Nav
{
	cursor: pointer;
	padding-bottom: 25px;
}
.topnav {
  overflow: hidden;
  background:rgb(22, 28, 34);
}
.boutonNav
{
  background-color: white;
  color: white;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;;
  transition-duration: 0.7s;
}

.topnav a:hover {
  text-decoration: none;
	transition-duration: 0.7s;
  background-color: #ddd;
  color: #dc3545;
}

.topnav a.active {
  background-color:  #dc3545;
  transition-duration: 0.7s;
  color: white;
}
.topnav a.active:hover {
  background-color:  #dc3545;
  transition-duration: 0.7s;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav input[type="text"]:focus {
 	 outline: 2px solid #dc3545;
  }

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  color: white;
  background-color:#dc3545;
  transition-duration: 0.7s
}

.topnav .search-container button:hover {
  background: #dc3545;
  color: black;
  transition-duration: 0.7s
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #dc3545;
  }
}
.surlignements:hover
{
	transition-duration: 0.7s;
	color: black;
	text-decoration: none;
}
.surlignements1
{
	transition-duration: 0.7s;
}
.surlignements1:hover
{
	transition-duration: 0.7s;
	color: #dc3545;
	text-decoration: none;
	cursor:pointer;
}
.surlignements
{
	color: white;
	transition-duration: 0.7s;
}
.lienMenu
{
	color: black;
	text-align: center;
	font-size: 130%;
	transition-duration: 0.7s;
	border-bottom: solid black 1px;
}
.lienMenu:hover
{
	text-decoration: none;
	color: #dc3545;
	text-align: center;
	font-size: 130%;
	transition-duration: 0.7s;
}
.triangle-right{
    width: 0;
    height: 0;
    border-bottom: 200px solid rgba(0,0,0,0.0);
    border-left: 200px solid  rgb(220, 53, 69);
    position: absolute;
    left: 0px;
    top: -2px;
    z-index: 1;
}
.triangle-left {
	width: 0;
	height: 0;
	border-bottom: 200px solid rgba(0,0,0,0.0);
	border-right: 200px solid  rgb(220, 53, 69);
    position: absolute;
    right: 0px;
    top: -2px;
   z-index: 1;
}
.flex{
  display:flex;
}
/*///////////////////////////////////////////Actualite/////////////////////////////////////////////////*/
/*/close*/
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;
    padding-bottom: 100px;
}
.page-wrap:after
{
    content: "";
    display: block;
}
site-footer .page-wrap:after
{
    height: 100px;
}
.close 
{
  width: 20px;
  height: 20px; 
}
.close:before, .close:after {
  position: absolute;
  right: 10px;
  content: "";
  height: 20px;
  width: 2px;
  background-color: black;
  transition-duration: 0.3s;
}
content.close
{
  color: blue;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close:hover::before{
  background-color: #dc3545;
  transition-duration: 0.3s
}
.close:hover::after {
  background-color: #dc3545;
  transition-duration: 0.3s
}
/*actu*/
.btn
{
    font-size: 1.5rem;
}
.nav-link
{
    font-size: 1.5rem;
}
.dropdown-toggle
{
    font-size: 1.5rem;
}
.MonForm
{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #dc3545;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dc3545;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: red;
}
::placeholder
{
  color: #dc3545;
}
.carte
{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom:100px;
}
.article
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin: 50px 50px 50px 50px ;
}
.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
/* common */
.carte:hover
{
	 -webkit-transition: all 400ms ease-in;
     transform: scale(1.05);
}
.actu_taille
{
	width: 17rem;
}
.style1
{
	border-top: 2px solid #dc3545;
	border-radius: 0.25rem;
	margin-left: 0px;
    width: 100%;
}
.style2
{
	border-top: 2px solid white;
	border-radius: 0.25rem;
	margin-left: 0px;
}
/*///////////////////////////////////////////Divers/////////////////////////////////////////////////*/
h1
{
    color: #dc3545;
}
h2
{
    font-style: italic;
    color: #dc3545;

}
h3
{
    color: #00cc00;
}
h4
{
     color: #8A6343;
}

.center
{
	text-align: center;

}
.marginAuto
{
	margin: auto;
}
.pointer
{
    cursor: pointer;
}
/*customize input file*/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    color: #dc3545;
    display: inline-block;
    transition:all 0.3s;
    border-radius: 0.25rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #dc3545;
    color: white;
    transition:all 0.3s;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px solid #dc3545;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
/*///////////////////////////////////////////Footer/////////////////////////////////////////////////*/
.fonds
{
    height: 300px;
    width: 100%;
    background: url("../Images/Fonds/753606-best-krav-maga-wallpapers-1920x1080-iphone.jpg") no-repeat,fixed;
    background-size: auto;
}
.textFonds
{
    font-size: 5rem;
    transition-duration: 0.7s;
}
.textFonds:hover
{
    font-size: 5.05rem;
    text-align: center;
    transition-duration: 0.7s;

}
.Debutfooter
{
   padding-bottom: 50px;
}
.basFooter
{
background:rgb(22, 28, 34);
}
.social
{
	text-decoration: none;
	transition-duration: 0.7s;
	color: white;
}
.social:hover
{
	transition-duration: 0.7s;
	color: #dc3545;
	text-decoration: none;
	cursor:pointer;
}







